:root{
--bgcolor: #00b6d1;
--color: whitesmoke;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bars ul {
    display: flex;
    gap: 15px;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;

}

.bars ul li {
    display: flex;
    cursor: pointer;
}

.bars ul li span {
    padding: 0 4px
}

.bars ul li svg {
    color: grey;
}

svg:hover {
    background-color: rgb(245, 238, 238);
    border-radius: 5px;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 45px;
}

.first span{
    font-size: 37px;
}

section span img{
width: 82px;
margin: 0 23px;
}

section button{
background-color: var(--bgcolor);
color: var(--color);
border-radius: 4px;
    padding: 8px;
    font-weight: 700;
}

.first p{
    font-size: 23px;
    width: 54vw;
    text-align: center;
}

.main {
    padding: 10px;
    margin: 15px;
}

.main .dld {
    display: flex;
    gap: 10px;
    /* justify-content: start; */
    align-items: center;
    position: relative;
    left: 285px;
}

.main .dld2 {
    display: flex;
    gap: 5px;
    list-style: none;
    align-items: baseline;
}

.main .dld2 li:nth-child(2) {
    font-size: 10px;
}

.main .dld2 li:nth-child(1) {
    font-size: 18px;
}

.flex {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 130px 130px 130px 130px;

}

.grid .box {
    text-align: center;
    background-color: rgb(251, 248, 248);
    height: 120px;
    width: 290px;
}

.box .bttn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box .bttn button {
    background-color: var(--bgcolor);
    border-radius: 4px;
    padding: 8px;
}

.box a {
    color: var(--color);
    text-decoration: none;
    font-weight: 700;
    padding: 20px 5px;

}

.box button:nth-child(2) {
    background-color: rgb(82, 161, 82);
}

.grid .box ul {
    list-style-type: none;
    font-weight: 900;
    padding: 0;
}

.grid .box li:nth-child(2) {
    font-size: 10px;
    color: grey;

}